@page "/EventDetails/{SportEventId}"
@using TeamFinder.Shared.Models
@using TeamFinder.Client.Services
@using IdentityModel

@inject HttpClient _http
@inject EventsService _eventsService
@inject UserService _userService
@inject AuthenticationStateProvider _provider

<style>
    .padding {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    }
</style>

@if (SportEvent != null)
{
    <h2>@SportEvent.Name</h2>
    <MatPaper Elevation="2" class="padding">
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3 mat-headline-4"><b>Name:</b></div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3 mat-body1">@SportEvent.Name</div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6"></div>
            </div>
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3 mat-headline-4"><b>City:</b></div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3 mat-body1">@SportEvent.Location.City</div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6"></div>
            </div>
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3 mat-headline-4"><b>Date:</b></div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3 mat-body1">@SportEvent.Date</div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6"></div>
            </div>
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3 mat-headline-4"><b>Description:</b></div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-9 mat-body1">@SportEvent.Description</div>
            </div>
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3 mat-headline-4"><b>Players:</b></div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-9">
                    <table>
                            <MatSortHeaderRow Class="demo-h-row" SortChanged="@SortData">
                                <MatSortHeader Class="demo-h" SortId="no">#</MatSortHeader>
                                <MatSortHeader Class="demo-h padding" SortId="name">Username</MatSortHeader>
                                <MatSortHeader Class="demo-h padding" SortId="email">Email</MatSortHeader>
                                <MatSortHeader Class="demo-h padding" SortId="status">Status</MatSortHeader>
                            </MatSortHeaderRow>

                            @foreach (var (i, userEvents) in SortedUsers)
                            {
                                <tr>
                                        <td class="padding">@(i).</td>
                                        <td class="padding">@userEvents.User.UserName</td>
                                        <td class="padding">@userEvents.User.Email</td>
                                        <td class="padding">@userEvents.Type</td>
                                </tr>
                            }
                    </table>
                </div>
            </div>
        </div>
        <Map SportEvent="@SportEvent" Id="-1" Height="350" Type="Map.MapType.InteractiveMap"></Map>
        <EventButton @bind-SportEv="@SportEvent" OnUserClickJoinEvent="OnUserClickJoinEvent" OnUserClickLeaveEvent="OnUserClickLeaveEvent"></EventButton>
    </MatPaper>
}
else
{
    @Message
}
@code {

    void SortData(MatSortChangedEvent? sort)
    {
        SortedUsers = Users;
        if (sort == null || sort.Direction == MatSortDirection.None || string.IsNullOrEmpty(sort.SortId)) return;

        Comparison<(int?,UserEvents)>? comparison = sort.SortId switch
        {
            "no" => (s1, s2) => s1.Item1?.CompareTo(s2.Item1) ?? 1000,
            "name" => (s1, s2) => string.Compare(s1.Item2.User.UserName, s2.Item2.User.UserName, StringComparison.InvariantCultureIgnoreCase),
            "email" => (s1, s2) => string.Compare(s1.Item2.User.Email, s2.Item2.User.Email, StringComparison.InvariantCultureIgnoreCase),
            "status" => (s1, s2) => s1.Item2.Type.CompareTo(s2.Item2.Type),
            _ => null
            };
        if (comparison == null) return;
        {
            if (sort.Direction == MatSortDirection.Desc)
            {
                SortedUsers?.Sort( (s1, s2) => -1 * comparison(s1, s2));
            }
            else
            {
               SortedUsers?.Sort((s1, s2) => comparison(s1,s2));
            }
        }
    }
    SportEvent? SportEvent { get; set; }
    string Message { get; set; } = "Loading...";
    [Parameter]
    public string SportEventId { get; set; } = string.Empty;
    string? UserId { get; set; }
    
    User? user;
    AuthenticationState? State { get; set; }

    List<(int,UserEvents)> Users { get; set; } = new List<(int, UserEvents)>();
    List<(int,UserEvents)> SortedUsers { get; set; } = new List<(int, UserEvents)>(); 

    protected override async Task OnInitializedAsync()
    {
        State = await _provider.GetAuthenticationStateAsync();
        var userId = State.User.FindFirst(JwtClaimTypes.Subject)?.Value;
        if (userId != null) UserId = userId;
        try
        {
            SportEvent = await _eventsService.GetEvent(SportEventId);
            if (SportEvent is not null)
            {
                var tmp = await _eventsService.GetAllUsersInEvent(SportEvent.Id);
                var ue = tmp?.FirstOrDefault(ue => ue.UserId == userId);
                SportEvent.Type = ue?.Type ?? RelationshipType.None;
                if (ue is not null)
                    user = ue.User;

                tmp?.Sort((ue1, ue2) => ue1.Type.CompareTo(ue2.Type));
                if (tmp != null)
                    Users = tmp
                        .Select((u, i) => (i + 1,u))
                        .ToList();
                
                SortedUsers = Users;
            }
        }
        catch (Exception e)
        {
            //ignore
        }
        finally
        {
            if (SportEvent == null)
                Message = "Event not found";
        }
    }

    private async Task OnUserClickLeaveEvent(string userId)
    {
        user ??= await _userService.GetUser(userId);
        var u = SortedUsers.First(u => u.Item2.User.Id == user.Id);
        SortedUsers.Remove(u);
        Users.Remove(u);
    }

    private async Task OnUserClickJoinEvent(string userId)
    {
        user ??= await _userService.GetUser(userId);
        var ue = new UserEvents()
        {
            Type = RelationshipType.Joined,
            User = user,
            SportEvent = SportEvent!,
            UserId = userId,
            SportEventId = SportEvent!.Id
        };
        SortedUsers.Add((SortedUsers.Count+1, ue));
    }

}